/*css soft reset - avoid the browser set standard values that may confuse the frondend developer*/ 
* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
  }
  
body {
    background-image: url('../img/background.jpg');
    background-position: center top;
    background-size: cover;
}
  
header {
    display: flex;
    height: 50px;
    background-color: black;
    align-items: center;
}

.menu {
    display: flex;
    font-family: 'Roboto', sans-serif;
    background-color: black;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    align-items: center;
    height: 50px;
    width: 100vw;
  }
  
.menu a {
display: block;
padding: 10px 30px;  
}

.menu li {
list-style: none;
}

.menu ul {
display: flex;
flex-wrap: wrap;
justify-content: space-around;
width: 100vw;
}

strong {
    font-weight: 400;
}

a {
color: whitesmoke;
font-size: 20px;
font-weight: 300;
text-decoration: none;
font-style: italic;
}

a:active,
a:hover {
text-decoration: underline;
}

.grid-section {
    border: black solid 1px;
}

.grid-elements {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.area {
    font-family: Roboto;
    width: 100%;
    height: 60vh;
    color: black;
    font-size: 3em;
    font-weight: 300;
    text-align: center;
}

.element-1 {
    position: relative;
    background-color: pink;
}

.element-2 {
    position: relative;
    background-color: greenyellow;
}


.element-3 {
    position: relative;
    background-color: rgb(22, 142, 255);
}

.element-interno {
    font-family: Roboto;
    width: 50%;
    height: 50%;
    color: black;
    font-size: 0.7em;
    font-weight: 300;
    background-color: whitesmoke;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.text-element {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.float-elements {
    border-left: black solid 1px;
    border-right: black solid 1px;
    border-bottom: black solid 1px;
}

.area-2 {
    font-family: Roboto;
    width: 300px;
    height: 150px;
    font-size: 3em;
    font-weight: 300;
    text-align: center;
}

.element-4 {
    background-color: yellow;
    color: black;
    float: right;
    position: relative;
}

.element-5 {
    background-color: blueviolet;
    color: whitesmoke;
    float: left;
    position: relative;
}

.paragraph {
    font-family: Roboto;
    overflow: hidden;
    font-size: 1.2em;
    clear: both;
    padding: 2em;
    text-align: justify;
    text-indent: 1.5em;
    line-height: 1.3em;
}

.paragraph strong {
    font-size: 1.5em;
}

.footer a:hover,
.footer a:active {
  text-decoration: none;
  text-shadow: 0px 0px 1px whitesmoke;
}

.footer {
    font-family: 'Roboto', sans-serif;
    font-size: 1.05em;
    color: whitesmoke;
    font-weight: 300;
    text-align: center;
    background-color: black;
    padding: 2em 0 0.5em;
  }
  
  .footer-icons {
    text-align: center;
    font-size: 1em;
    color: white;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 2em;
  }
  
  .footer-icons table {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
  }
  
  .footer-icons a {
    color: white;
    font-size: 4em;
    margin: 0.1em;
  }
  
  .footer-icons td, .footer-icons th {
    padding: 5px 5px;
    text-align: left;
  }
  
  .footer-icons th {
    font-weight: 300;
    font-style: italic;
    font-size: 1.5em;
  }
  
  .footer-text a {
    font-weight: bold;
    font-style: normal;
  }